<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nos Somos Valorant Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap-4.6.2-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/blog.css">

</head>

<body>
    <header class="pv-topbar">
        <div class="pv-logo">
            <img src="../img/icons/pv-logo.svg" alt="">
        </div>
        <nav class="pv-menu">
            <a href="../index.html">Início</a>
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Informaçoes</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Agentes</a>
                <a class="dropdown-item" href="#">Mapas</a>
                <a class="dropdown-item" href="#">Arsenal</a>
              </div>
              <a href="../views/contato.html">Contato</a>
        </nav>
    </header>
    <div class="container-fluid header-image">
        <style>
            .header-image {
                width: 100%;
                height: 80vh;
                background-image: url("../img/bg/bg-sage.jpg");
                background-position: 0px 50px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </div>
    <div class="container">
        <div class="content">
            <span class="pv-title blog-title">Destaques</span>
            <hr>
            <div class="pv-cards">
                <a href="../views/post1.html">
                    <div class="pv-card" id="btnCard1">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="img-overlay"></div>
                                <img src="../img/bg/bg-harbor.png" alt="" width="100%" height="100%">
                            </div>
                            <div class="col-sm-7">
                                <div class="pv-card-header pv-pad-15">
                                    <h1 class="pv-title pv-text-red">Novidades do episodio 5 ato III</h1>

                                </div>
                                <div class="pv-card-body pv-pad-15">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque
                                        necessitatibus
                                        suscipit quaerat sed. Dolores assumenda asperiores, magni provident facere
                                        deserunt
                                        doloremque mollitia perferendis accusamus, perspiciatis laborum. Repudiandae,
                                        non?
                                        Earum.</p>
                                </div>
                                <div class="pv-card-bottom pv-pad-15">
                                    <span class="pv-text-dark pv-span-data">atualizado em <span
                                            class="pv-text-red"><strong>18/10/2022</strong></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../views/post2.html">
                    <div class="pv-card" id="btnCard2">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="img-overlay"></div>
                                <img src="../img/bg/bg-chamber.png" alt="" width="100%" height="100%">
                            </div>
                            <div class="col-sm-7">
                                <div class="pv-card-header pv-pad-15">
                                    <h1 class="pv-title pv-text-red">Mudanças no Chamber na atualização 5.12</h1>

                                </div>
                                <div class="pv-card-body pv-pad-15">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque
                                        necessitatibus
                                        suscipit quaerat sed. Dolores assumenda asperiores, magni provident facere
                                        deserunt
                                        doloremque mollitia perferendis accusamus, perspiciatis laborum. Repudiandae,
                                        non?
                                        Earum.</p>
                                </div>
                                <div class="pv-card-bottom pv-pad-15">
                                    <span class="pv-text-dark pv-span-data">atualizado em <span
                                            class="pv-text-red"><strong>18/10/2022</strong></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../views/post3.html">
                    <div class="pv-card" id="btnCard3">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="img-overlay"></div>
                                <img src="../img/bg/mapas.jpg" alt="" width="100%" height="100%">
                            </div>
                            <div class="col-sm-7">
                                <div class="pv-card-header pv-pad-15">
                                    <h1 class="pv-title pv-text-red">Mudanças na seleção de mapas do Valorant</h1>

                                </div>
                                <div class="pv-card-body pv-pad-15">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque
                                        necessitatibus
                                        suscipit quaerat sed. Dolores assumenda asperiores, magni provident facere
                                        deserunt
                                        doloremque mollitia perferendis accusamus, perspiciatis laborum. Repudiandae,
                                        non?
                                        Earum.</p>
                                </div>
                                <div class="pv-card-bottom pv-pad-15">
                                    <span class="pv-text-dark pv-span-data">atualizado em <span
                                            class="pv-text-red"><strong>18/10/2022</strong></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../views/post4.html">
                    <div class="pv-card" id="btnCard4">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="img-overlay"></div>
                                <img src="../img/premier-alpha.jpg" alt="" width="100%" height="100%">
                            </div>
                            <div class="col-sm-7">
                                <div class="pv-card-header pv-pad-15">
                                    <h1 class="pv-title pv-text-red">Anunciando o teste do Premier Alpha do Valorant
                                    </h1>

                                </div>
                                <div class="pv-card-body pv-pad-15">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque
                                        necessitatibus
                                        suscipit quaerat sed. Dolores assumenda asperiores, magni provident facere
                                        deserunt
                                        doloremque mollitia perferendis accusamus, perspiciatis laborum. Repudiandae,
                                        non?
                                        Earum.</p>
                                </div>
                                <div class="pv-card-bottom pv-pad-15">
                                    <span class="pv-text-dark pv-span-data">atualizado em <span
                                            class="pv-text-red"><strong>18/10/2022</strong></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../views/post5.html">
                    <div class="pv-card" id="btnCard5">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="img-overlay"></div>
                                <img src="../img/bg/bg-sublime.png" alt="" width="100%" height="100%">
                            </div>
                            <div class="col-sm-7">
                                <div class="pv-card-header pv-pad-15">
                                    <h1 class="pv-title pv-text-red">O pacote de skins mais querido do Valorant</h1>

                                </div>
                                <div class="pv-card-body pv-pad-15">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque
                                        necessitatibus
                                        suscipit quaerat sed. Dolores assumenda asperiores, magni provident facere
                                        deserunt
                                        doloremque mollitia perferendis accusamus, perspiciatis laborum. Repudiandae,
                                        non?
                                        Earum.</p>
                                </div>
                                <div class="pv-card-bottom pv-pad-15">
                                    <span class="pv-text-dark pv-span-data">atualizado em <span
                                            class="pv-text-red"><strong>18/10/2022</strong></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="social-media">
            <ul>
                <a href="" class="social">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="" class="social">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="" class="social">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </ul>
        </div>
        <p>&copy Alef Matheus Garcia - 2022 - todos os direitos reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/550953eb6f.js" crossorigin="anonymous"></script>
</body>

</html>