<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mudanças no Chamber na atualização 5.12</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-4.6.2-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/posts.css">
</head>

<body>
    <header class="pv-topbar">
        <div class="pv-logo">
            <img src="/img/icons/pv-logo.svg" alt="">
        </div>
        <nav class="pv-menu">
            <a href="/index.html">Início</a>
            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                aria-expanded="false">Informaçoes</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Agentes</a>
                <a class="dropdown-item" href="#">Mapas</a>
                <a class="dropdown-item" href="#">Arsenal</a>
            </div>
            <a href="/views/contato.html">Contato</a>
        </nav>
    </header>
    <div class="pv-modal pv-bg-black" id="pv-modal-inscrevase">
        <div class="pv-modal-header">
            <h1 class="pv-title pv-text-red">Inscreva-se</h1>
            <span class="pv-close-modal close-modal">X</span>
        </div>
        <div class="pv-modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <p class="pv-text-light">Inscreva-se para ficar por dentro de tudo que acontece no universo de
                        Valorant e nao perca nenhuma novidade!</p>
                </div>
            </div>
            <div class="row pv-mar-top-15">
                <div class="col-sm-12">
                    <form class="pv-form">
                        <div class="row">
                            <div class="col-sm-12 pv-mar-bottom-15">
                                <label for="Nome" class="pv-text-light">Nome</label>
                                <input type="text" name="Nome" id="pv-nome" class="pv-field">
                            </div>
                            <div class="col-sm-12 pv-mar-bottom-15">
                                <label for="Email" class="pv-text-light">Email</label>
                                <input type="email" name="Email" id="pv-email" class="pv-field">
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-2 pv-mar-top-15">
                            <button class="pv-btn-dark pv-btn pv-btn-medium close-modal">Close</button>
                        </div>
                        <div class="col-sm-3 pv-mar-top-15">
                            <button class="pv-btn-red pv-btn pv-btn-medium close-modal">Participar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid header-image">
        <style>
            .header-image {
                width: 100%;
                height: 80vh;
                background-image: url(/img/bg/bg-chamber.png);
                background-position: 0px 50px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
        </style>
        <a href="blog.html">
            <div class="pv-btn-back">
                <i class="fa-solid fa-chevron-left">/</i>
                <span>Voltar ao Blog</span>
            </div>
        </a>
    </div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    <span class="pv-text-dark pv-span-data">// Atualizado em <span
                            class="pv-text-red"><strong>18/10/2022</strong></span></span>
                    <span class="pv-title pv-title-big pv-text-dark">MUDANÇAS NO CHAMBER NA ATUALIZAÇÃO 5.12</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-7 offset-sm-3">
                    <p class="pv-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem et
                        delectus officiis unde hic
                        officia, obcaecati ratione distinctio. Odit iure mollitia impedit porro omnis explicabo corporis
                        earum neque aut ipsa! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam saepe
                        nemo alias ratione nisi voluptas illum odio perspiciatis praesentium nostrum eius voluptates,
                        harum cum placeat quidem dolorum. Sequi, adipisci fugiat! Lorem ipsum dolor sit</p>
                    <article class="article">
                        <h1 class="pv-title pv-title-medium pv-mar-top-25 ">Mudanças no Chamber</h1>
                        <p class="pv-box-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla libero
                            officiis quibusdam
                            corrupti alias velit magni? Delectus iure dolore quaerat officiis! Explicabo ducimus
                            quis
                            officia quos odio quia, est tempora! Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Officia repellendus deleniti tempore, minus obcaecati ullam saepe quo odio
                            voluptatem.
                        </p>
                        <h4>Caçador de cabeças (Q) </h4>
                        <p class="pv-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, tempora?
                            Minima aliquam soluta
                            iste dicta repellendus explicabo maxime repellat vitae? Impedit ipsum sunt nobis quidem
                            praesentium suscipit consequatur alias iusto.</p>
                        <h4>Rendevous (E) </h4>
                        <p class="pv-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, tempora?
                            Minima aliquam soluta
                            iste dicta repellendus explicabo maxime repellat vitae? Impedit ipsum sunt nobis quidem
                            praesentium suscipit consequatur alias iusto.</p>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/P5DMGFJ9_fM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/vLo04pnDRpU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/bAw7LdwKLyg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <h4>Marca Registrada (C)</h4>
                        <p class="pv-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illum
                            reprehenderit, minima
                            unde, fugiat architecto vitae quibusdam possimus laudantium ex deleniti quasi in quaerat
                            iure quam repellat veniam saepe libero.</p>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/cCJn7aYEZV4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <h4>Tour De Force (Ultimate)</h4>
                        <p class="pv-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illum
                            reprehenderit, minima
                            unde, fugiat architecto vitae quibusdam possimus laudantium ex deleniti quasi in quaerat
                            iure quam repellat veniam saepe libero.</p>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/dDw0s6ifBbs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <h4>Objetivos</h4>
                        <p class="pv-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illum
                            reprehenderit, minima
                            unde, fugiat architecto vitae quibusdam possimus laudantium ex deleniti quasi in quaerat
                            iure quam repellat veniam saepe libero.</p>
                    </article>
                    <hr>
                </div>
            </div>

            <div class="pv-subscribe">
                <h1 class="pv-title pv-title-medium">Gostou do conteudo?</h1>
                <p>inscreva-se para ficar por dentro de todas as novidades!</p>
                <button class="pv-btn btn-info pv-btn-medium" id="btn-inscrevase">Inscreva-se</button>
            </div>
            <div class="pv-scroll-up" id="scroll-up">
                <div class="pv-arrow-up">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <footer class="footer">
        <div class="social-media">
            <ul>
                <a href="" class="social">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="" class="social">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="" class="social">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </ul>
        </div>
        <p>&copy Alef Matheus Garcia - 2022 - todos os direitos reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="/js/posts.js" async defer></script>
    <script src="https://kit.fontawesome.com/550953eb6f.js" crossorigin="anonymous"></script>
</body>

</html>